body{
    background-color: blanchedalmond;
}

.container{
    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-rows: 3, 200px;
    background-color: pink;
}
.cell{
    border: 1px solid black;
}