body{
    background-color: blanchedalmond;
}

.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 180px);
    background-color: pink;
    width: 40%;
    position: absolute;
    left: 30%;
}
.cell{
    border: 1px solid black;
}