body{
    background-color: rgb(21, 1, 21);
    color: aliceblue;
}

.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 140px);
    background-color: rgb(235, 225, 227);
    width: 35%;
    position: absolute;
    left: 32%;
    box-shadow: 2px 2px 6px 4px rgb(77, 76, 75);
}
.cell{
    border: 1px solid black;
}
.cell:hover{
    background-color: rgb(139, 122, 98);
}
.text{
    text-align: center;
}